@import url(https://fonts.google.com/specimen/Figtree);

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: bisque;
    width: 100%;
    height: 100vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "outfit", sans-serif;
    font-size: 16px;
}

.container {
    position: relative;
    padding: 2rem;
    background-color: white;
    border-radius: 15px;
    outline: 1px solid;
    width: 350px;
}

.container::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 15px;
    right: -15px;
    border-radius: 1rem;
    z-index: -1;
}

.image img {
    border-radius: 15px;
}

.learning {
    background: hsl(47, 88%, 63%);
    width: min-content;
    padding: 1rem;
    margin-top: 1.5rem;
    font-weight: 800;
    border-radius: 15px;
}

.Published {
    border-radius: 15px;
    margin-top: 16px;
}

h2 {
    margin: 15px;
    margin-left: 0px;
    font-size: 25px;
    font-weight: 600;
}

h2,
span {
    cursor: pointer;
}

h2:hover,
span:hover {
    color: hsl(47, 88%, 63%);
}

.description {
    color: hsl(0, 0%, 50%);
    line-height: 1.5;
}

.creator {
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}

.creator-image {
    border: 1px solid white;
    border-radius: 50px;
    margin-right: 1rem;
    width: 30px;
}

.attribution {
    display: block;
    position: absolute;
    bottom: 0;
    padding: 25px;

}